<div class="panel panel-default">
	<div class="panel-heading">Lägg till lag i {{group.name}}</div>
	<div class="panel-body">
		<div class="input-group">
			{{input type="text" class="form-control" placeholder="Lagnamn" value=name }}
		    <span class="input-group-btn">
		    	<button class="btn btn-default" type="button" {{action "createTeam"}}>Skapa</button>
		    </span>
		</div>
	</div>
</div>