<div class="container" role="main">
	<ol class="breadcrumb">
		<li>
			{{#link-to 'index'}}Sweco League{{/link-to}}
		</li>
		<li>
			{{#link-to 'league' league}}{{league.year}}{{/link-to}}
		</li>
		<li>
			{{#link-to 'league.group' group}}{{group.name}}{{/link-to}}
		</li>
	</ol>
	<div class="panel panel-default">
		<div class="panel-heading">Generera matcher för {{group.name}}</div>
		<div class="panel-body">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" {{action "generateMatches"}}>Generera!</button>
				</span>
			</div>
		</div>
	</div>
</div>