<div class="panel panel-default">
	<div class="panel-heading">Generera matcher för {{group.name}}</div>
	<div class="panel-body">
		<div class="input-group">
		    <span class="input-group-btn">
		    	<button class="btn btn-default" type="button" {{action "generateMatches"}}>Generera!</button>
		    </span>
		</div>
	</div>
</div>