<nav class="navbar navbar-default">
	<div class="container" role="main">
		<div class="navbar-header">
			<div class="navbar-brand">
				{{#link-to 'index'}}Sweco League{{/link-to}}
			</div>
		</div>
	</div>	
</nav>{{outlet}}