<div class="list-group">
{{#each model as |league|}}
<a class="list-group-item">{{#link-to 'league' league}}{{league.year}}{{/link-to}}</a>
{{/each}}
</div>

<div class="panel panel-default">
	<div class="panel-heading">Skapa nytt år</div>
	<div class="panel-body">
		<div class="input-group">
			{{input type="text" class="form-control" placeholder="År" value=year }}
		    <span class="input-group-btn">
		    	<button class="btn btn-default" type="button" {{action "createLeague"}}>Skapa</button>
		    </span>
		</div>
	</div>
</div>
{{outlet}}